:root {
  --xs-width: 360px;
  --s-width: 375px;
  --xm-width: 768px;
  --xl-width: 1024px;
  --xl-width: 1448px;
}

@custom-media --one-product-tile (max-width: 511px);
@custom-media --bp-xs (width <= 360px);
@custom-media --bp-s (width > 375px);
@custom-media --bp-m (width > 768px);
@custom-media --bp-l (width > 1024px);
@custom-media --bp-xl (width > 1448px);
@custom-media --bp-xxl (width > 1448px);
@custom-media --dark-mode (prefers-color-scheme: dark);
