:host {
  box-shadow: 0.25rem 0.25rem 1.25rem 0 rgba(0, 0, 255, 0.2);
  background-color: hsl(0 0% 95%);
  display: grid;
  grid-template-rows: min-content;
  row-gap: 0.5rem;
  grid-template-areas:
    "img"
    "data";
}

figure {
  margin: 0;
  padding: 0;
  grid-area: img;
}

img {
  max-width: 100%;
}

.product-data {
  padding-inline: 0.5rem;
  display: grid;
  row-gap: 0.5rem;
  grid-area: data;
  grid-template-rows: max-content 1fr max-content;
  grid-template-areas:
    "title"
    "description"
    "price";
}

.product-data > * {
  padding: 0 0 0.5rem 0;
  margin: 0;
}

h3 {
  grid-area: title;
}

p {
  grid-area: description;
}

span {
  grid-area: price;
  text-align: right;
  align-self: end;
  font-weight: bold;
  font-size: larger;
}
