@custom-media --small-viewport (max-width: 30em);
@custom-media --bp-xs (width <= 360px);
@custom-media --bp-s (width <= 375px);
@custom-media --bp-m (width <= 768px);
@custom-media --bp-l (width <= 1024px);
@custom-media --bp-xl (width <= 1448px);
@custom-media --bp-xxl (width > 1448px);
@custom-selector :--headings h1, h2, h3;

@media (--bp-xs) {
}
@media (--bp-s) {
}
@media (--bp-m) {
}
@media (--bp-l) {
}
@media (--bp-xl) {
}
@media (--bp-xxl) {
}

.article {
  font-size: 1rem;
  & .title {
    font-size: 3rem;
  }

  @nest .title & {
    background-color: red;
  }
}

/* --------------------- */

.article {
  color: blue;
  & .tile {
    color: maroon;
    &:is(.emphasized) {
      color: yellow;
    }
  }
}

:--headings {
  background: blue;

  @media (--small-viewport) {
    background: cyan;
  }
}
