@custom-media --small-viewport (max-width: 30em);
@custom-media --bp-s (width <= 375px);
@custom-media --bp-m (375px < width <= 768px);
@custom-media --bp-l (768px < width <= 1024px);
@custom-media --bp-xl (1448px <= width);
@custom-selector :--headings h1, h2, h3;

@media (--bp-s) {
}
@media (--bp-m) {
}
@media (--bp-l) {
}
@media (--bp-xl) {
}

.article {
  font-size: 1rem;
  & .title {
    font-size: 3rem;
  }
}

:--headings {
  background: blue;

  @media (--small-viewport) {
    background: cyan;
  }
}

.article {
  color: red;
  section & {
    color: green;
  }

  &__bem {
    color: maroon;

    &--it {
      color: lightblue;
    }
  }
}
