@custom-media --one-product-tile (max-width: 511px);
@custom-media --bp-s (width <= 375px);
@custom-media --bp-m (375px < width <= 768px);
@custom-media --bp-l (768px < width <= 1024px);
@custom-media --bp-xl (1448px <= width);
@custom-selector :--main-nodes body > header, body > main, body > footer;

:root {
  --fs: 16;
  font-size: calc(var(--fs) * 1px);
  /* layout */
  --gap: 0.5rem;
  --gap-s: calc(var(--gap) / 2);
  --gap-l: calc(var(--gap) * 2);
  --gap-inline: 1rem;
  --gap-block: 0.5rem;
  --item-padding-block: var(--gap-s);
  --item-padding-inline: var(--gap);
  --list-item-padding: var(--item-padding-block) var(--item-padding-inline);
  --product-tile-width: 15rem;
}
:root {
  /* colors */
  /* common */
  --hue: 245;
  --sat: 90%;
  --lit: 20%;
  --alpha: 1;
  --black: hsla(0 0% 0% / 1);
  --white: hsla(0 0% 100% / 1);
  --gray: hsla(240 100% 0% / 0.2);
  --clr-shadow: hsla(
    var(--hue) var(--sat) var(--lit-shadow, 0%) / var(--alpha-shadow, 0.2)
  );
  --clr-bg-list-item-even: var(--white);
  --clr-bg-list-item-odd: hsl(0 0% 90%);
  --clr-bg-list-item-hover: hsl(0 0% 85%);
  --clr-cta: hsl(var(--hue) var(--sat) calc(var(--lit) + 30%));

  --clr-primary: red;
  --clr-highlight-text: white;

  /* text */
  --lit-text: 10%;
  --clr-text: hsla(var(--hue) var(--sat) var(--lit-text) / 1);
}
:root {
  /* decoration */
  --list-item-shadow: 0.25rem 0.25rem 1.25rem 0 var(--clr-shadow);
  --category-item-hover-shadow: -0.25rem -0.25rem 1.25rem 0 var(--clr-shadow);
}
:root {
  /* borders */
  --border-radius-s: calc(var(--border-radius) / 2);
  --border-radius: 0.5rem;
  --border-radius-l: calc(var(--border-radius) * 2);
}

:root {
  /* transitions */
  --transition-duration-normal: 250ms;
  --transition-timing-function-normal: ease-in-out;
}

body {
  color: var(--clr-text);
}

todo-item {
  --clr-bg-list-item: var(--clr-bg-list-item-even);
}
todo-item:nth-child(odd) {
  --clr-bg-list-item: var(--clr-bg-list-item-odd);
}
